Flask==0.10.1
FormEncode==1.2.6
Jinja2==2.7
MarkupSafe==0.18
PyYAML==3.10
SQLAlchemy==0.8.2
Werkzeug==0.9.1
argparse==1.2.1
cssmin==0.2.0
distribute==0.7.3
itsdangerous==0.21
jsmin==2.1.2
logilab-astng==0.24.3
logilab-common==0.59.1
mock==1.0.1
pylint==0.28.0
wsgiref==0.1.2
Flask-Babel
Flask-Assets
nose
