{% extends "base.html" %}

{% block main %}
<header id="overview">

  <div class="row">
    <div class="span6">
      <h2>About</h2>
        <br>

        Linkode is the useful pastebin!

        It's a kind of <strong>"short living collaboration space"</strong>, a <strong>"dynamic pastebin"</strong>.

        Some awesome details:
        <ul>
        <li>You can create linkodes anywhere, whenever, and effortlessly.</li>
        <li>Editable texts, not static!</li>
        <li>Every new edition creates a child: you have a tree</li>
        <li>Code/text type autodetection (and coloring!)</li>
        <li>Permantent linkodes (but still the owner can remove them)</li>
        <li>Absolutely anonymous (unless you login, which is dead simple)</li>
        <li>Private URLs: because you can not guess UUIDs</li>
        </ul>


        <h3>Some terms and conditions</h3>


        <p>Linkodes will be permanents, they will never caducate and always will be online, so please never post any sensible information. However, if you're logged in when you create a linkode, you will be able to delete it, as you own it. All said, we don't guarantee that the information will be always live; bad stuff happens and we can lose all our data, some content may disappear, or anybody's cat may get angry. Anything that happens, you're not allowed to sue us. You can still complain, however.</p>

        <p>Please, be gentle with our web page and API. There are rate limits, and you may be denied to get a useful response after crossing them. We still didn't decide on those limits, though, we'll communicate them as soon we make up our minds.</p>

        </p>If you are logged in when you create a linkode, you own the pasted text, you are responsible for it, have its copyright, and explicitly are allowing us to show it to whoever knows the linkode id and to use it internally for statistics purposes and whatever. If you're not logged in at creation time, the content is public domain, but you still are responsible for it.</p>
    </div>
  </div>

</header>
{% endblock %}
