{% extends "base.html" %}
{% from "helpers.html" import text_options, languages%}
{% block main %}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 code-container">
            <div class="col-md-12 code-panel">
              <div class="code-text-panel">
                <textarea id='code' class="form-control" name='content' placeholder="{{ _('Write (or paste) your text here and click on Create linkode.') }}">{{content}}</textarea>
                <input type="hidden" id="text_type">
              </div>
              <div id="tree-toggle-panel">
                <div id="toggle-container">
                  <img src="{{ url_for('static', filename='img/open_tree.png') }}" id="toogle-image">
                </div>
              </div>
            </div>
            <div class="tree-panel col-md-2">
              <div class="klk-tree" id="kilink-tree-span"></div>
            </div>
        </div>

        <div class="col-md-12 action-container">
            <div id="timestamp" class="col-md-5 kilink-timestamp"></div>
            <div id="current_node" class="col-md-2"></div> <!-- For future current kilink icon -->
            <div class="col-md-5 pull-right kilink-buttons buttons">
                {{ _("Select a text type:") }}
                <select onchange="editor.selectMode()" id=selectlang class='' name="text_type">
                    {{text_options()}}
                </select>
                <button id='btn-submit' type="button" class='btn btn-success'>{{ _('Create linkode') }}</button>
            </div>
        </div>
    </div>
</div>

<link type="text/css" href="{{ url_for('static', filename='theme/monokai.css') }}" rel="stylesheet">
<link type="text/css" href="{{ url_for('static', filename='lib/codemirror.css') }}" rel="stylesheet">

<script src="{{ url_for('static', filename='lib/codemirror.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

<script type="text/javascript">
    editor.init({});
</script>

<link type="text/css" href="{{ url_for('static', filename='css/placeholder.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addon/display/fullscreen.css') }}" rel="stylesheet">

<script type="text/javascript" src="{{ url_for('static', filename='addon/display/fullscreen.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='addon/display/placeholder.js') }}"></script>
<script src="{{ url_for('static', filename='lib/highlight.js/highlight.pack.js') }}"></script>

<!-- Languages -->
    {{ languages() }}
<!-- End Languages -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tooltipster.bundle.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/noty.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='lib/tooltipster.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/noty.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/d3.min.js') }}"></script>

<script type="text/javascript">

$(document).ready(function(){

    linkode.init({
        text_new_submit: "{{ _('Create linkode') }}",
        text_update_submit: "{{ _('Save new version') }}",
        text_datetime: "{{ _('Created on') }} ",
        text_tooltip: "{{ _('See node\'s version') }} ",
        open_tree_tooltip: "{{ _('Open version tree') }} ",
        closed_tree_tooltip: "{{ _('Close version tree') }} ",
        open_tree_img: "{{ url_for('static', filename='img/open_tree.png') }}",
        close_tree_img: "{{ url_for('static', filename='img/close_tree.png') }}",
        text_success_noty: "{{_('Linkode created')}}",
        text_retry_noty: "{{_('Retry in')}}",
        text_retry_times_noty: "{{_('seconds')}}",
        text_get_error_noty: "{{_('Error obtaining linkode')}}",
        text_get_not_exist_noty: "{{_('Linkode does not exist')}}",
        text_post_error_noty: "{{_('Error creating linkode')}}",
        text_post_not_exist_noty: "{{_('Parent linkode does not exist')}}",
        text_retry_button: "{{_('Retry')}}",
    });
});
</script>
{% endblock %}
