{% extends "base.html" %}
{% block main %}

<header id="overview">
  <div class="row">
    <div class="span12">
      <h2>Table of Content</h2>
        <ul>
            <li><a href="#the_api">The API</a></li>
            <ul>
                <li><a href="#api-create">To create a new linkode</a></li>
                <li><a href="#api-createchild">To create a child of an existing linkode node</a></li>
                <li><a href="#api-get">To get a specific linkode node</a></li>
                <li><a href="#api-gettree">To get all the tree of a linkode</a></li>
            </ul>
        </ul>
      

      <h2 id="api">The API</h2>

      This is the version 1 of the API.
      <br>
      <br>
      <h4 id="api-create">To create a new linkode</h4>
      <pre>
- type: POST
- url: /api/1/linkodes/
- data: 
    content: the content of the linkode (Unicode!)
    text_type: the type of the content (plain text, Python, diff, C, etc.) [optional]
- returns:
    linkode_id: the unique id of the new linkode
    revno: the revision number of it's root node
      </pre>

      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Python</a></li>
          <li><a href="#tab2" data-toggle="tab">PHP</a></li>
          <li><a href="#tab3" data-toggle="tab">Java</a></li>
          <li><a href="#tab4" data-toggle="tab">...</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <pre>
In [1]: import requests
In [2]: data = {'content': u'The content for your linkode', 'text_type': 'python'}
In [3]: r = requests.post("http://linkode.org/api/1/linkodes", data=data)
In [4]: r.json()
Out[4]:
{u'linkode_id': u'557b9746-af4c-4131-aed3-7bdb2caed0d4',
 u'revno': u'e594500e-00d8-4a20-b2b8-92508099b0a6'}
In [5]: r.status_code
Out[5]: 201
            </pre>

          </div>
          <div class="tab-pane" id="tab2">
            <p>Please send an example in PHP to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
          <div class="tab-pane" id="tab3">
            <p>Please send an example in Java to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
          <div class="tab-pane" id="tab4">
            <p>Please send an example in your favorite programming language to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <h4 id="api-createchild">To create a child of an existing linkode node</h4>
      <pre>
 - type: POST
 - url: /api/1/linkodes/<linkode_id>
 - data: 
    content: the content of the new node (Unicode!)
    parent: the revision number of the node that is parent to this new one
- returns:
    revno: the revision number of the new node
      </pre>

     <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab5" data-toggle="tab">Python</a></li>
          <li><a href="#tab6" data-toggle="tab">PHP</a></li>
          <li><a href="#tab7" data-toggle="tab">Java</a></li>
          <li><a href="#tab8" data-toggle="tab">...</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab5">
            <pre>
In [1]: import requests
In [2]: update = {'content': u'new content', 'text_type': 'python', 'parent': '796d0e80-a178-44a3-8226-2046768cf6f7'}
In [3]: r = requests.post("http://linkode.org/api/1/linkodes/a5bdba03-82fd-4e89-a2db-1f4deb68d070", data=update)
In [4]: r.json()
Out[4]:
{u'revno': u'9dca0df5-3291-42a8-a78e-5dba5a516f51'}
In [5]: r.status_code
Out[5]: 201
            </pre>

          </div>
          <div class="tab-pane" id="tab6">
            <p>Please send an example in PHP to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
          <div class="tab-pane" id="tab7">
            <p>Please send an example in Java to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
          <div class="tab-pane" id="tab8">
            <p>Please send an example in your favorite programming language to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <h4 id="api-get">To get a specific linkode node</h4>
      <pre>
- type: GET
- url: /api/1/linkodes/<linkode_id>/<revno>
- returns:
    linkode_id: the unique id of the new linkode
    revno: the revision number of it's root node
      </pre>


     <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab9" data-toggle="tab">Python</a></li>
          <li><a href="#tab10" data-toggle="tab">PHP</a></li>
          <li><a href="#tab11" data-toggle="tab">Java</a></li>
          <li><a href="#tab12" data-toggle="tab">...</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab9">
            <pre>
In [1]: import requests
In [2]: r = requests.get("http://linkode.org/api/1/linkodes/a5bdba03-82fd-4e89-a2db-1f4deb68d070/ca8aa7a1-59e8-491c-9025-363f1fd7b908")
In [3]: r.json()
Out[3]:
{u'content': u'The content for this linkode node'}
In [4]: r.status_code
Out[4]: 200
            </pre>

          </div>
          <div class="tab-pane" id="tab10">
            <p>Please send an example in PHP to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
          <div class="tab-pane" id="tab11">
            <p>Please send an example in Java to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
          <div class="tab-pane" id="tab12">
            <p>Please send an example in your favorite programming language to <a href="mailto:kilink@python.org.ar">kilink@python.org.ar</a></p>
          </div>
        </div>
      </div>

      <br>
      <br>
      <h4 id="api-gettree">To get all the tree of a linkode</h4>
      <pre>
   - type: GET
   - url: /api/1/linkodes/<linkode_id>
      </pre>
      As we don't know if the "get all the tree of a linkode" it's going to be used, it's not implemented yet. But will have the previous API ;-)

{% endblock %}
