{% macro text_options() %}
    <option value="auto">auto</option>
    <option value="plain text">Plain Text</option>
    <option value="c">C</option>
    <option value="c#">C#</option>
    <option value="c++">C++</option>
    <option value="clojure">Clojure</option>
    <option value="coffeescript">CoffeeScript</option>
    <option value="css">CSS</option>
    <option value="d">D</option>
    <option value="diff">Diff</option>
    <option value="erlang">Erlang</option>
    <option value="go">Go</option>
    <option value="groovy">Groovy</option>
    <option value="haskell">Haskell</option>
    <option value="html">HTML</option>
    <option value="htmlmixed">HTML Mixed</option>
    <option value="http">HTTP</option>
    <option value="java">Java</option>
    <option value="javascript">Javascript</option>
    <option value="json">JSON</option>
    <option value="less">LESS</option>
    <option value="lua">Lua</option>
    <option value="markdown">Markdown</option>
    <option value="nginx">Nginx</option>
    <option value="perl">Perl</option>
    <option value="php">PHP</option>
    <option value="plain text">Plain Text</option>
    <option value="python">Python</option>
    <option value="r">R</option>
    <option value="ruby">Ruby</option>
    <!-- <option value="rust">Rust</option> -->
    <option value="scala">Scala</option>
    <option value="shell">Shell</option>
    <option value="smalltalk">Smalltalk</option>
    <option value="sql">SQL</option>
    <option value="stex">Stex</option>
    <option value="typescript">Typescript</option>
    <option value="vbscript">VBScript</option>
    <option value="xml">XML</option>
    <option value="yaml">YAML</option>
{% endmacro %}

{% macro script_list()%}
<script type="text/javascript">
    const scripts_urls = {
        "c" : "{{ url_for('static', filename='mode/clike/clike.js') }}",
        "c#" : "{{ url_for('static', filename='mode/clike/clike.js') }}",
        "c++" : "{{ url_for('static', filename='mode/clike/clike.js') }}",
        "clojure": "{{ url_for('static', filename='mode/clojure/clojure.js') }}",
        "coffeescript": "{{ url_for('static', filename='mode/coffeescript/coffeescript.js') }}",
        "css": "{{ url_for('static', filename='mode/css/css.js') }}",
        "d": "{{ url_for('static', filename='mode/d/d.js') }}",
        "diff": "{{ url_for('static', filename='mode/diff/diff.js') }}",
        "erlang": "{{ url_for('static', filename='mode/erlang/erlang.js') }}",
        "go": "{{ url_for('static', filename='mode/go/go.js') }}",
        "groovy": "{{ url_for('static', filename='mode/groovy/groovy.js') }}",
        "haskell": "{{ url_for('static', filename='mode/haskell/haskell.js') }}",
        "html": "{{ url_for('static', filename='mode/htmlmixed/htmlmixed.js') }}",
        "htmlmixed": "{{ url_for('static', filename='mode/htmlmixed/htmlmixed.js') }}",
        "http": "{{ url_for('static', filename='mode/http/http.js') }}",
        "java": "{{ url_for('static', filename='mode/clike/clike.js') }}",
        "javascript": "{{ url_for('static', filename='mode/javascript/javascript.js') }}",
        "json": "{{ url_for('static', filename='mode/javascript/javascript.js') }}",
        "less": "{{ url_for('static', filename='mode/css/css.js') }}",
        "lua": "{{ url_for('static', filename='mode/lua/lua.js') }}",
        "markdown": "{{ url_for('static', filename='mode/markdown/markdown.js') }}",
        "nginx": "{{ url_for('static', filename='mode/nginx/nginx.js') }}",
        "perl": "{{ url_for('static', filename='mode/perl/perl.js') }}",
        "php": "{{ url_for('static', filename='mode/php/php.js') }}",
        "python": "{{ url_for('static', filename='mode/python/python.js') }}",
        "r": "{{ url_for('static', filename='mode/r/r.js') }}",
        "ruby": "{{ url_for('static', filename='mode/ruby/ruby.js') }}",
        "scala": "{{ url_for('static', filename='mode/clike/clike.js') }}",
        "shell": "{{ url_for('static', filename='mode/shell/shell.js') }}",
        "smalltalk": "{{ url_for('static', filename='mode/smalltalk/smalltalk.js') }}",
        "sql": "{{ url_for('static', filename='mode/sql/sql.js') }}",
        "stex": "{{ url_for('static', filename='mode/stex/stex.js') }}",
        "typescript": "{{ url_for('static', filename='mode/javascript/javascript.js') }}",
        "vbscript": "{{ url_for('static', filename='mode/vbscript/vbscript.js') }}",
        "xml": "{{ url_for('static', filename='mode/xml/xml.js') }}",
        "yaml": "{{ url_for('static', filename='mode/yaml/yaml.js') }}"
    }
</script>
{% endmacro %}

{% macro languages() %}
    <script src='/static/mode/clike/clike.js'></script>
    <script src='/static/mode/clojure/clojure.js'></script>
    <script src='/static/mode/coffeescript/coffeescript.js'></script>
    <script src='/static/mode/css/css.js'></script>
    <script src='/static/mode/d/d.js'></script>
    <script src='/static/mode/diff/diff.js'></script>
    <script src='/static/mode/erlang/erlang.js'></script>
    <script src='/static/mode/go/go.js'></script>
    <script src='/static/mode/groovy/groovy.js'></script>
    <script src='/static/mode/haskell/haskell.js'></script>
    <script src='/static/mode/htmlmixed/htmlmixed.js'></script>
    <script src='/static/mode/http/http.js'></script>
    <script src='/static/mode/javascript/javascript.js'></script>
    <script src='/static/mode/lua/lua.js'></script>
    <script src='/static/mode/markdown/markdown.js'></script>
    <script src='/static/mode/nginx/nginx.js'></script>
    <script src='/static/mode/php/php.js'></script>
    <script src='/static/mode/perl/perl.js'></script>
    <script src='/static/mode/python/python.js'></script>
    <script src='/static/mode/r/r.js'></script>
    <script src='/static/mode/ruby/ruby.js'></script>
    <script src='/static/mode/shell/shell.js'></script>
    <script src='/static/mode/smalltalk/smalltalk.js'></script>
    <script src='/static/mode/sql/sql.js'></script>
    <script src='/static/mode/stex/stex.js'></script>
    <script src='/static/mode/vbscript/vbscript.js'></script>
    <script src='/static/mode/xml/xml.js'></script>
    <script src='/static/mode/yaml/yaml.js'></script>
{% endmacro %}
