<!DOCTYPE html>

<html>
<head>
    <meta name="google-site-verification" content="SU95TWvB44aUvVJnwgE0B_UW3uCwnrAh1NMB410Mew0" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Kilink</title>

    <script type="text/javascript">
        var node_list = {{ tree_info|safe }};
        var current_revno = "{{ current_revno }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ECOTree.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tree.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/ECOTree.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>

<body onload="CreateTree();">
    <h1 id="title">Kilink</h1>
{% if tree_info %}
<div id="myTreeContainer"></div>
{% endif %}

<div id="kilinko">
    <form action="/action/{{ user_action }}" method="POST" id="pasteform" name="pasteform">
        <textarea id="id_content" rows="20" cols="80" name="content">{{value}}</textarea>
        <input type="submit" value="{{button_text}}" />
    </form>
</div>

</body>
</html>
