.main {
    margin-top: 53px;
}

.CodeMirror {
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

.CodeMirror-fullscreen {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999 !important;
}

.link {
    fill: none;
    stroke: #3DA4EE;
    stroke-width: 1.5px;
    stroke-opacity:1;
}

.node-dot {
    fill: #80B611;
}

.node-text {
    fill: #fff;
}

#wrap{
    vertical-align: sub;
}