.main {
    margin-top: 53px;
}

.CodeMirror {
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

.CodeMirror-fullscreen {
    display: block !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999 !important;
}

.kilink-buttons.buttons {
    text-align:right;
    display: inline-block;
    width: 73%;
}
.kilink-timestamp {
    display: inline-block;
    /*text-align:right;*/
    font-size: 12px;
    margin-left: 5px;
    width: 25%;
}

#kilink-tree-span {
    margin-left: 5px;
}

.link {
    fill: none;
    stroke: #3DA4EE;
    stroke-width: 1.5px;
    stroke-opacity:1;
}

.node-dot {
    fill: #80B611;
}

.node-text {
    fill: #fff;
}
