.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-header {
    border-color: #e7e7e7;
    background-color: #2fa3e6;
}

.navbar-default .navbar-brand {
    color: #fff;
    float: left;
    padding: 15px 20px 15px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-shadow: 0 1px 0 #54b4eb;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 16px 10px 14px;
    font-family: 'Telex',sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.main {
    margin-top: 53px;
}

textarea {
    width: 100%;
    height: 80vh !important;
    background: #272822;
    color: white;
}

.kilink-timestamp {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    line-height: 34px;
    padding: 0px 5px;
}

#kilink-tree-span {
    margin-left: 5px;
}

.link {
    fill: none;
    stroke: #3DA4EE;
    stroke-width: 1.5px;
    stroke-opacity:1;
}

.node-dot {
    fill: #80B611;
}

.node-text {
    fill: #fff;
}

.CodeMirror {
    border: 1px solid #ccc;
    margin-bottom: 1em;
    height: 80vh !important;
}

.CodeMirror-fullscreen {
    display: block !important;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    margin-bottom: 0em !important;
    height: auto!important;
    width: auto!important;
    z-index: 9999!important;
}

.kilink-buttons.buttons {
    text-align:right;
    display: inline-block;
    padding: 0px 5px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #317eac;
    text-rendering: optimizelegibility;
}

.code-container{
  padding-left: 0px;
  padding-right: 20px;
}

.code-panel{
  padding-right: 0px;
  padding-left: 0px;
}

.code-text-panel{
  display: inline-block;
  width: 98.2%;
}

#tree-toggle-panel{
  float: right;
  display: none;
}

.tree-panel{
  display: none;
}