.main {
    margin-top: 60px;
}

.CodeMirror {
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

.link {
    fill: none;
    stroke: #3DA4EE;
    stroke-width: 1.5px;
    stroke-opacity:1;
}

.node-dot {
    fill: #80B611;
}

.node-text {
    fill: #fff;
}
