{% extends "base.html" %}


{% block main %}

<script type="text/javascript">
    var node_list = {{ tree_info|safe }};
    var current_revno = "{{ current_revno }}";
    {% if timestamp %}
        var timestamp = new Date("{{ timestamp }}").toString();
        var text_timestamp = "{{ _('Created on') }} " + timestamp;
    {% endif %}
</script>

<div class="row-fluid">
  <div class="span11">
    <form action="/{{ kid_info }}" method="POST" id="pasteform" name="pasteform">
      <textarea id='code' name='content' 
                placeholder={{ _("Write (or paste) your text here and click on Create linkode.") }}
                rows="8" cols="40">{{value}}</textarea>
      <div class='kilink-timestamp'></div>
      <div class='kilink-buttons buttons'>
        {{ _("Select a text type:") }}&nbsp;<select onchange="selectMode()" id=seleclang class='btn btn-success' name="text_type">
          <option value="auto" selected>auto</option>
          <option value="c">C</option>
          <option value="c++">C++</option>
          <option value="c#">C#</option>
          <option value="clojure">Clojure</option>
          <option value="coffeescript">Coffeescript</option>
          <option value="css">Css</option>
          <option value="d">D</option>
          <option value="diff">Diff</option>
          <option value="erlang">Erlang</option>
          <option value="go">Go</option>
          <option value="haskell">Haskell</option>
          <option value="html">Html</option>
          <option value="htmlmixed">Htmlmixed</option>
          <option value="http">Http</option>
          <option value="java">Java</option>
          <option value="javascript">Javascript</option>
          <option value="json">Json</option>
          <option value="lua">Lua</option>
          <option value="markdown">Markdown</option>
          <option value="php">Php</option>
          <option value="perl">Perl</option>
          <option value="plain text">Plain text</option>
          <option value="python">Python</option>
          <option value="r">R</option>
          <option value="ruby">Ruby</option>
          <option value="rust">Rust</option>
          <option value="scala">Scala</option>
          <option value="shell">Shell</option>
          <option value="smalltalk">Smalltalk</option>
          <option value="sql">Sql</option>
          <option value="stex">Stex</option>
          <option value="tex">Tex</option>
          <option value="vbscript">Vbscript</option>
          <option value="xml">Xml</option>
        </select>
        &nbsp; &nbsp;
        <button type="submit" value="{{button_text}}" class='btn btn-success'>{{button_text}}</button>
        <input type="hidden" id="text_type" value="{{text_type}}" /> 
      </div>
    </form>
  </div>
  <div class='span1' id="kilink-tree-span">
    <div class="klk-tree">
    </div>
  </div>
</div>

{% assets filters="jsmin", output="js/bundle-new.js",
          "lib/d3.min.js",
          "lib/codemirror.min.js",
          "js/placeholder.js",
          "js/highlight.js/highlight.pack.js",
          "js/editor.js",
          "js/draw_tree.js",
          "js/main.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets filters="jsmin", output="js/bundle-mode.js",
          "mode/clike/clike.min.js",
          "mode/clojure/clojure.min.js",
          "mode/coffeescript/coffeescript.min.js",
          "mode/css/css.min.js",
          "mode/d/d.min.js",
          "mode/diff/diff.min.js",
          "mode/erlang/erlang.min.js",
          "mode/go/go.min.js",
          "mode/haskell/haskell.min.js",
          "mode/htmlmixed/htmlmixed.min.js",
          "mode/http/http.min.js",
          "mode/javascript/javascript.min.js",
          "mode/lua/lua.min.js",
          "mode/markdown/markdown.min.js",
          "mode/php/php.min.js",
          "mode/perl/perl.min.js",
          "mode/python/python.min.js",
          "mode/r/r.min.js",
          "mode/ruby/ruby.min.js",
          "mode/rust/rust.min.js",
          "mode/shell/shell.min.js",
          "mode/smalltalk/smalltalk.min.js",
          "mode/sql/sql.min.js",
          "mode/stex/stex.min.js",
          "mode/vbscript/vbscript.min.js",
          "mode/xml/xml.min.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
